## Transforming Nominal Features

Nominal features or attributes are categorical variables that usually have a finite set of distinct discrete values.

### import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy.stats as spstats
from sklearn.preprocessing import LabelEncoder

In [2]:
%matplotlib inline

mpl.style.reload_library()
mpl.style.use('classic')
mpl.rcParams['figure.facecolor'] = (1, 1, 1, 0)
mpl.rcParams['figure.figsize'] = [6., 4.]
mpl.rcParams['figure.dpi'] = 100

In [3]:
df_vg = pd.read_csv('~/Downloads/data/vgsales.csv', encoding='utf-8')
df_vg.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
genres = np.unique(df_vg['Genre'])
genres

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

In [5]:
le = LabelEncoder()
genre_labels = le.fit_transform(df_vg['Genre'])
genre_mappings = {index: label for index, label in enumerate(le.classes_)}
genre_mappings

{0: 'Action',
 1: 'Adventure',
 2: 'Fighting',
 3: 'Misc',
 4: 'Platform',
 5: 'Puzzle',
 6: 'Racing',
 7: 'Role-Playing',
 8: 'Shooter',
 9: 'Simulation',
 10: 'Sports',
 11: 'Strategy'}

In [6]:
df_vg['Genre_Labels'] = genre_labels
df_vg[['Name', 'Platform', 'Year', 'Genre', 'Genre_Labels']].iloc[1:7]

                       Name Platform    Year         Genre  Genre_Labels
1         Super Mario Bros.      NES  1985.0      Platform             4
2            Mario Kart Wii      Wii  2008.0        Racing             6
3         Wii Sports Resort      Wii  2009.0        Sports            10
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing             7
5                    Tetris       GB  1989.0        Puzzle             5
6     New Super Mario Bros.       DS  2006.0      Platform             4

## Transforming Ordinal Features

Ordinal features are similar to nominal features except that order matters and is an inherent property with which we can interpret the values of these features. Like nominal features, even ordinal features might be present in text form and you need to map and transform them into their numeric representation.

In [8]:
df_poke = pd.read_csv('~/Downloads/data/pokemon.csv', encoding='utf-8')
df_poke = df_poke.sample(random_state=1, frac=1).reset_index(drop=True)

np.unique(df_poke['Generation'])

array([1, 2, 3, 4, 5, 6])

In [9]:
gen_ord_map = {'Gen 1': 1, 'Gen 2': 2, 'Gen 3': 3,
            'Gen 4': 4, 'Gen 5': 5, 'Gen 6': 6}

df_poke['GenerationLabel'] = df_poke['Generation'].map(gen_ord_map)
df_poke[['Name', 'Generation', 'GenerationLabel']].iloc[4:10]

                  Name  Generation  GenerationLabel
4            Octillery           2              NaN
5           Helioptile           6              NaN
6               Dialga           4              NaN
7  DeoxysDefense Forme           3              NaN
8             Rapidash           1              NaN
9               Swanna           5              NaN

## Encoding Categorical Features

We have mentioned several times in the past that Machine Learning algorithms usually work well with numerical values. You might now be wondering we already transformed and mapped the categorical variables into numeric representations in the previous sections so why would we need more levels of encoding again? The answer to this is pretty simple. If we directly fed these transformed numeric representations of categorical features into any algorithm, the model will essentially try to interpret these as raw numeric features and hence the notion of magnitude will be wrongly introduced in the system.

A simple example would be from our previous output dataframe, a model fit on GenerationLabel would think that value 6 > 5 > 4 and so on. While order is important in the case of Pok√©mon generations (ordinal variable), there is no notion of magnitude here. Generation 6 is not larger than Generation 5 and Generation 1 is not smaller than Generation 6. Hence models built using these features directly would be sub-optimal and incorrect models. There are several schemes and strategies where dummy features are created for each unique value or label out of all the distinct categories in any feature. In the subsequent sections, we will discuss some of these schemes including one hot encoding, dummy coding, effect coding, and feature hashing schemes.

### One Hot Encoding Scheme